# Node
node_modules/
dist/
build/

# Java / Spring
target/
spring_backend/target/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store

# ENV (never commit secrets)
.env

# Uploads (DO NOT IGNORE in production)
# uploads/

# DO NOT IGNORE IMAGES
# img/
# *.png
# *.jpg
# *.jpeg
# *.webp
# *.svg
# *.ico
# *.gif

# Git allowed files
!package.json
!package-lock.json
!README.md

# Allow Spring configs
!spring_backend/src/main/resources/application.properties
!spring_backend/src/main/resources/application-prod.properties
