node_modules/
target/
dist/
build/
.idea/
.vscode/
uploads/
*.log
spring_backend/target/
spring_backend/src/main/resources/img/
spring_backend/uploads/
img/
blobs/
*.mp4
*.png
*.jpg
*.jpeg
*.webp
*.ico
*.gif
*.svg
*.pdf
*.csv
*.bat
*.sh
*.md
!README.md
*.json
!package.json
!package-lock.json
*.yaml
*.yml
*.txt
*.workspace
*.code-workspace
*.properties
*.xml
*.sql
*.java
